body{
     background-color: #cccccc;
}

.titulo{
     front-size: 40xp;
     color:crimson;
 }    

 .felinos_header{
     width: 20%
     border-radius:10xp
}

.felinos{
.width: 50%
border-radius: 10px;
}